.pagePostMain{
}
.pagePostInfoName{
    display: flex;
    justify-content: space-between;
}
.pagePosteInfoLikeAndComment{
    position: relative;
    flex: 1;
    text-align: center;
}
.pagePostName{
    flex: 1;
    text-align: center;
}
.pagePosteInfoLikeAndComment p{
    margin: 2px;
}
.infoPostDown{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.textPost{
    font-size: 16px;
    flex : 1;
}
.listComment{
    flex: 1;
    border : 1px solid black;
    border-radius: 15px;
    padding: 5px;
}