.listOfMessage{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.message{
    min-width: 30%;
    background-color: rgb(194, 194, 194);
    border-radius: 15px;
    border: 1px solid black;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;
}
.message h3{
    text-align: center;
}

.postMessage{
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}
.replyMsg{
     height:20px
}
.replyMsg div{
    display: flex;
    align-items: center;
}
.removeReply{
    font-size:20px;
    margin-left: 20px;
}

.coreInputMsg{
    position: relative;
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.messageInput{
    align-self: center;
    text-align:center;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}
.coreInputImg{
    position: absolute;
    right: -70px;
    display: flex;
    flex-direction: column;
}
.imageInput{
    width: 70px;
}
.imageRevisual{
    width: 70px;
}