.mainBanner{
    position: relative;
    z-index: 3;
    font-weight: bold;
}
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #FFD7D7;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    position: relative;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 3;
}
.banner img{
    width: 200px;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
li:hover{
    color: grey;
}
.menuBarre{
    background-color: #c7c0c5;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menuBarre p{
    flex: 1;
    text-align: center;
    margin: 0px;
    z-index: 2;
}
.menuBarre p:hover{
    background-color: rgb(221, 218, 218);
}

@media only screen and (max-width: 768px) {
    .banner{
        flex-direction: column;
    }
    .listCommandBanner{
        height: 25px;
    }
    .userItemBanner{
        overflow: hidden;
    }
}