.formLog{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px;
    padding: 40px;
    border-radius: 20px;
    background-color: #FFD7D7;
}
.postform{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10%;
    padding: 40px;
    border-radius: 20px;
    background-color: #FFD7D7;
}
.row{
    display: flex;
    justify-content: space-evenly;
}

.submitButt{
    height: 50px;
    border-radius: 15px;
}