@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');


body{
    margin: 0px;
    width: 100%;

    font-family: 'Merriweather', sans-serif;
    
}

::-webkit-scrollbar{
    background-color: rgb(90, 90, 90);
    border-radius: 15px;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #ca9393;
    border-radius: 15px;
}
