.msgByUser{
    margin-left: 10px;
    border-top: 1px solid rgb(163, 163, 163);
}
.userNameMsg{
    margin-left: 50px;
}
.msgItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    margin: 0px;
    padding: 15px;
}
.msgItem p{
    margin: 0px;
    flex: 1;
}
.moreOption{
    opacity: 0;
    font-size: 20px;
    height: 20px; 
}
.msgItem:hover{
    background-color: rgb(204, 201, 201);
}
.msgItem:hover .moreOption{
    opacity: 1;
}
.iconItem{    
    font-size: 20px;
}