.msgByUser{
    margin-left: 10px;
    border-top: 1px solid rgb(163, 163, 163);
}
.userNameMsg{
    margin-left: 50px;
}
.msgItem{
    margin: 0px;
    padding: 5px;
}
.coreMsgItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding: 5px;
}
.coreMsgText{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0px;
}
.msgTextMessage{
    display: table-cell;
    flex: 1;
    margin: 0px;
    width: 70px;
    max-width: 70%;
    overflow-wrap: break-word;
}
.moreOption{
    opacity: 0;
    font-size: 20px;
    height: 20px; 
}
.coreMsgItem:hover{
    background-color: rgb(204, 201, 201);
}
.coreMsgItem:hover .moreOption{
    opacity: 1;
}
.coreMsgInfoText{
    width: 100%;
    display: flex;
    align-items: center;
}
.msgImage{
    max-height: 350px;
}
.iconItem{    
    font-size: 20px;
}
.replyItem{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    margin-left: 20px;
    margin-top: 0px;
    border: solid 1px black;
    padding-left: 10px;
    border-radius: 10px;
}
.replyUser{
    font-size: 15px;
    font-weight: bold;
}
.replyMsg{
    font-size: 13px;
    margin : 0px;
    padding-left : 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}