.listOfMessage{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.message{
    min-width: 30%;
    background-color: rgb(194, 194, 194);
    border-radius: 15px;
    border: 1px solid black;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;
}
.message h3{
    text-align: center;
}

.postMessage{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}
.messageInput{
    border-radius: 15px;
    width: 40%;
    height: 30px;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}
.replyMsg{
     height:20px
}
.replyMsg div{
    display: flex;
    align-items: center;
}
.removeReply{
    font-size:20px;
    margin-left: 20px;
}
input{
    border-radius: 15px;
}
.shareOption{
    display: flex;
    align-items: center;
}
.inputLike:hover{
    color: red;
}
.inputLiked{
    color: red;
}