.commentPost {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}
.commentName {
    margin: 0px;
}
.commentLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hiddenButton {
  opacity: 0;
}
.commentPost:hover {
  background: rgb(219, 219, 219);
}
.commentPost:hover .hiddenButton {
  opacity: 1;
}
